.login.row
    %form{:action=>'/login',:method=>'post'}
        %label.span2 Password:
        %input.span3{:type=>'text',:name=>'password'}
        %input.span2.btn-success{:type=>'submit',:value=>'Authenticate'}
